.nav {
  display: flex;
  background: #182538;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
}
.nav a {
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}
.nav a:hover, .nav a.active {
  color: #10b981;
}
